{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px;
}
.text-center {
  text-align: center;
  text-color: Gold;
  margin: 1px;
  padding: 5px;
  height: 200px;
  background-color: DarkMagenta;
}
.text-center h3{
  color: Gold;  
}
.text-center p{
  color: Gold;  
}
</style>

<div class="div-width-100-text-center">
	<h1>Логистическая компания «Kyran logistics»/h1>
</div>
<div class="row" style="margin-top: 10px">
	<p>Наша компания работает в сфере логистических услуг с 2006 года. Мы предлагаем весь спектр транспортных и почтово-курьерских услуг вне зависимости от объема работ, что позволяет Вам работать с одной службой доставки.</p>
	<p>Компания зарекомендовала себя в качестве надежного партнера для сотни заказчиков что позволило нам стать одним из лидеров в сфере оказания логистических услуг.</p>
	<p>В своем распоряжении Компания имеет складские помещения и специализируется на оказании услуг по ответственному хранению с полным комплексом складских операций.</p>
	<p>Мы учитываем специфику каждого груза и индивидуально подходим к запросам своих клиентов в области складской логистики.</p>
	<p>Одним из направлений инновационной деятельности Компании является расширение сети представительств и увеличение спектра услуг с целью достижения соответствующего уровня растущих требований клиентов.</p>
	<p>Наличие собственных представителей в 19 областных регионах Казахстана позволяет нам организовать не только доставки в крупные центры, но и в областные города и населенные пункты. Компания осуществляет доставку корреспонденции, посылок и грузов внутри страны и за её пределами по принципу "от двери до двери". Территория покрытия при доставке груза - Республика Казахстан, страны СНГ.</p>
	<p>Представители Компании в областных городах РК так же могут забрать и отправить корреспонденцию и посылки согласно единому тарифу и договору между компаниями. Все тарифы фиксированы в тенге и включают: услуги курьера, топливные надбавки, НДС, упаковку и доставку «от двери до двери».</p>
	<p>Компания несет ответственность перед Партнером за возможную утерю, задержку груза или его повреждение согласно условиям заключенного Договора.</p>
	<p>Форма оплаты – наличный или безналичный расчёт по разовым договорам, предоплата или оплата по выставленному счету в конце месяца, согласно корпоративному договору.</p>
</div>
<div style="margin-top: 10px">
	<img class="img-center" src="{% static 'images/company.jpg' %}" alt="images">
</div>

{% endblock content %}

