{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px;
}
.text-center {
  text-align: center;
  text-color: Gold;
  margin: 1px;
  padding: 5px;
  height: 200px;
  background-color: DarkMagenta;
}
.text-center h3{
  color: Gold;  
}
.text-center p{
  color: Gold;  
}
</style>

<div class="div-width-100-text-center">
	<h1>Организация веб-доступа к информационной системе малого предприятия</h1>
</div>
<div class="row" style="margin-top: 10px">
	<p>Наша компания работает в сфере логистических услуг с 2006 года. Мы предлагаем весь спектр транспортных и почтово-курьерских услуг вне зависимости от объема работ, что позволяет Вам работать с одной службой доставки.</p>
	<p>Компания зарекомендовала себя в качестве надежного партнера для сотни заказчиков что позволило нам стать одним из лидеров в сфере оказания логистических услуг.</p>
	<p>В своем распоряжении Компания имеет складские помещения и специализируется на оказании услуг по ответственному хранению с полным комплексом складских операций.</p>
	<p>Мы учитываем специфику каждого груза и индивидуально подходим к запросам своих клиентов в области складской логистики.</p>
	<p>Одним из направлений инновационной деятельности Компании является расширение сети представительств и увеличение спектра услуг с целью достижения соответствующего уровня растущих требований клиентов.</p>
	<p>Наличие собственных представителей в 19 областных регионах Казахстана позволяет нам организовать не только доставки в крупные центры, но и в областные города и населенные пункты. Компания осуществляет доставку корреспонденции, посылок и грузов внутри страны и за её пределами по принципу "от двери до двери". Территория покрытия при доставке груза - Республика Казахстан, страны СНГ.</p>
	<p>Представители Компании в областных городах РК так же могут забрать и отправить корреспонденцию и посылки согласно единому тарифу и договору между компаниями. Все тарифы фиксированы в тенге и включают: услуги курьера, топливные надбавки, НДС, упаковку и доставку «от двери до двери».</p>
	<p>Компания несет ответственность перед Партнером за возможную утерю, задержку груза или его повреждение согласно условиям заключенного Договора.</p>
	<p>Форма оплаты – наличный или безналичный расчёт по разовым договорам, предоплата или оплата по выставленному счету в конце месяца, согласно корпоративному договору.</p>
</div>
<div style="margin-top: 10px">
	<img class="img-center" src="{% static 'images/company.jpg' %}" alt="images">
</div>
<hr>
<div class="div-width-100-text-center">
	<h1>Автоперевозки</h1>
</div>
<div class="row" style="margin-top: 10px">
	<p>Мы оказываем услуги по доставке грузов, в том числе собственным автотранспортом, имея в распоряжении различные виды автотехники: фуры европейского производства объемом от 86 до 120 кубических метров, 5-тонники и 10-тонники, ГАЗели, а также легковой курьерский транспорт.</p>
	<p>Основные услуги по доставке грузов автотранспортом:</p>
	<ul>
		<li>доставка грузов полными автомашинами по всем существующим направлениям</li>
		<li>доставка грузов от 1 кг из любой точки России и СНГ во все регионы Казахстана и Средней Азии</li>
		<li>доставка грузов от 1 кг из любой точки Европы во все регионы Казахстана и Средней Азии</li>
		<li>доставка грузов от 1 кг по всему Казахстану</li>
		<li>доставка грузов от 1 кг из Китая</li>
		<li>доставка грузов по г.Алматы</li>
		<li>доставка грузов по России и странам СНГ</li>
		<li>доставка грузов из стран Центральной и Восточной Азии</li>
		<li>доставка грузов из Турции и стран Ближнего Востока</li>
	</ul>
	<p>Дополнительные услуги, которые мы оказываем при доставке автотранспортом:</p>
	<ul>
		<li>поиск и закуп нужных товаров за границей</li>
		<li>адресная доставка грузов (доставка по городу в пунктах отправки и назначения)</li>
		<li>страхование грузов от всех рисков</li>
		<li>вооруженное охранное сопровождение грузов</li>
		<li>кросс-докинг, складирование, сортировка, (пере)упаковка грузов</li>
		<li>таможенное оформление грузов</li>
		<li>помощь в оформлении сопроводительной документации</li>
		<li>консультации в области логистики</li>
	</ul>
	<p>Виды/типы грузов, которые мы перевозим автотранспортом:</p>
	<ul>
		<li>стандартные грузы от 1 кг до полных автомашин (отправки консолидированных машин по графику)</li>
		<li>опасные грузы</li>
		<li>негабаритные, сверхгабаритные и сверхтяжелые грузы</li>
		<li>дорогостоящие грузы</li>
		<li>грузы, требующие температурный режим</li>
	</ul>
</div>
<div style="margin-top: 10px">
	<img class="img-center" src="{% static 'images/auto.jpg' %}" alt="images">
</div>
<hr>
<div class="div-width-100-text-center">
	<h1>Перевозки рефрежиратором</h1>
</div>
<div class="row" style="margin-top: 10px">
	<p>Основные услуги по доставке грузов, требующих температурный режим:</p>
	<ul>
		<li>доставка грузов полными рефрижераторами по всем существующим направлениям (из стран Европы, России, СНГ и Ближнего Востока)</li>
		<li>доставка скоропортящихся грузов от 1 кг из любой точки России и СНГ во все регионы Казахстана и Средней Азии</li>
		<li>доставка скоропортящихся грузов от 1 кг из любой точки Европы во все регионы Казахстана и Средней Азии</li>
		<li>доставка скоропортящихся грузов от 1 кг по всему Казахстану</li>
		<li>доставка скоропортящихся грузов по России и странам СНГ</li>
		<li>доставка скоропортящихся грузов из стран Центральной и Восточной Азии</li>
	</ul>
	<p>Дополнительные услуги, которые мы оказываем при перевозке грузов, требующих температурный режим:</p>
	<ul>
		<li>поиск и закуп нужных товаров за границей</li>
		<li>адресная доставка грузов (доставка по городу в пунктах отправки и назначения)</li>
		<li>страхование грузов от всех рисков</li>
		<li>вооруженное охранное сопровождение грузов</li>
		<li>кросс-докинг, складирование, сортировка, (пере)упаковка грузов</li>
		<li>таможенное оформление грузов</li>
		<li>помощь в оформлении сопроводительной документации</li>
		<li>консультации в области логистики</li>
	</ul>
</div>
<div style="margin-top: 10px">
	<img class="img-center" src="{% static 'images/ref.jpg' %}" alt="images">
</div>

{% endblock content %}

