{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px;
}
.text-center {
  text-align: center;
  text-color: Gold;
  margin: 1px;
  padding: 5px;
  height: 200px;
  background-color: DarkMagenta;
}
.text-center h3{
  color: Gold;  
}
.text-center p{
  color: Gold;  
}
</style>

<div class="div-width-100-text-center">
	<h1>Услуги складского хранения</h1>
</div>
<h1>Кросс-докинг</h1>
<p>Кросс-докинг - это логистическая операция внутри цепочки поставок, при которой отгрузка товара на склад и его последующая доставка получателю согласованы по времени таким образом, чтобы исключить хранение товара, сократить временной интервал между выгрузкой на склад и отгрузкой со склада с целью доставки груза от поставщика продавцу за максимально короткий срок.</p>
<p>Kyran Logistics осуществляет 4 вида кросс-докинга:</p>
<ul>
	<li>перевалка - одновременная выгрузка из одного транспортного средства и загрузка в другое. Фактическая смена подвижного состава без дополнительной обработки груза.</li>
	<li>расконсолидация - Доставка на склад партий товара от одного поставщика в адрес нескольких конечных получателей одним транспортным средством, сортировка партий товара, загрузка в несколько транспортных средств, доставка нескольким конечным получателям</li>
	<li>консолидация - Доставка на склад ответственного хранения партий товара от нескольких поставщиков в адрес одного конечного получателя на нескольких транспортных средствах, сортировка, загрузка в одно транспортное средство, доставка одному конечному получателю.</li>
	<li>комплектация - укрупнение партий товара. Пришедшему товару при перегрузке в другие транспортные средства добавляется товар, хранящийся на складе. </li>
</ul>
<h1>Услуги складского хранения в Казахстане</h1>
<p>Если вы обрабатываете много заказов в месяц или продаете крупногабаритные товары, вам потребуется достаточно много места для хранения грузов. Строительство собственного склада или его покупка — мероприятия, сопряженные с большими затратами и, как правило, экономически не оправданные. Гораздо целесообразней использовать имеющиеся складские площади. Они готовы к аренде, а собственники предлагают очень выгодные условия. Вам просто нужно правильно выбрать партнера.</p>
<p>Заказать услуги компании Kyran Logistics стоит, если:</p>
<ul>
	<li>вы ищете хороший склад в любом городе Казахстана;</li>
	<li>хотите сдавать продукцию на ответственное хранение;</li>
	<li>хотите автоматизировать процессы на территории склада.</li>
</ul>
<p>Выбрав комплекс услуг в нашей компании, вы можете не сомневаться в обеспечении надлежащих условий содержания товаров.</p>
<p>Складские услуги предоставляются в соответствии с предпочтениями клиента. В Kyran Logistics вас ждет индивидуальный подход к решению задач, связанных с хранением грузов.</p>
<h1>Услуга ответственного хранения</h1>
<p>Основным преимуществом такого вида хранения товаров является делегирование обязанностей компании, берущей на себя ответственность за сохранение характеристик продукции и ее качественных показателей.
<p>Среди основных преимуществ ответственного хранения стоит отметить:
<ul>
	<li>гарантию сохранности товара;</li>
	<li>узкопрофильную направленность и большой опыт работы сотрудников склада;</li>
	<li>оснащение помещений современным оборудованием (погрузчиками, тележками, стеллажами, материалами для упаковки).</li>
</ul>
<p>В зависимости от вида груза — негабаритный, опасный и т.д., в помещении хранения поддерживается определенная температура, а распределение партии товара организовывается таким образом, чтобы свести к минимуму риск случайного механического повреждения.</p>
<p>На территории наших складов хорошо организована система пожарной безопасности. Наличие огнетушителей и эффективная электропроводка обеспечивают защиту груза. Круглосуточная охрана и наличие видеосредств позволяют следить за каждым залом.</p>
<h1>Склад в аренду</h1>
<p>Услуга «Склад в аренду» — целесообразное решение при ведении интернет-магазина или другого бизнеса.</p>
<p>Нашей компанией были созданы современные склады в Алматы и других городах Казахстана, которые обеспечивают безопасное хранение различных товаров. Вы можете арендовать помещение, оптимально подходящее для решения ваших задач.</p>
<p>Склад сдается в аренду на выгодных условиях. Вы можете хранить товары столько времени, сколько вам необходимо.</p>
<p>Основные преимущества аренды склада в Kyran Logistics:</p>
<ul>
	<li>Вы получаете складское помещение, готовое к использованию.</li>
	<li>Вы можете ускорить развитие своего бизнеса и получить дополнительное место для хранения продукции.</li>
	<li>Наши склады подходят для безопасного хранения товаров.</li>
</ul>
<p>Профессионально организованный склад не только облегчит повседневную работу сотрудников, но и даст возможность бизнесу развиваться динамично и сократить время обработки заказов.</p>

<div class="row" style="margin-top: 10px">
</div>
<div style="margin-top: 10px">
	<img class="img-center" src="{% static 'images/stock.jpg' %}" alt="images">
</div>
<hr>

{% endblock content %}

